language: node_js
node_js:
  - "7"
cache: yarn
install:
  - yarn install
  - cd client && yarn install && cd ../

jobs:
  include:
    - stage: client:test
      script:
        - cd client && yarn run test-coverage
        - cat ./coverage/lcov.info | ./node_modules/.bin/codacy-coverage
        - cd ../
    - stage: client:build
      script:
        - cd client && yarn build
        - cd ../
