version: '2'

services:
  mongo:
    image: bitnami/mongodb:3.4.4-r1
  backend:
    image: angelrb/discuzzion:latest
    command: yarn run development
    entrypoint: ./scripts/entrypoint.sh
    ports:
      - 3001:3001
      - 5858:5858
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - mongo
    environment:
      - VIRTUAL_HOST=api.discuzzion.docker
      - VIRTUAL_PORT=3001
  client:
    image: angelrb/discuzzion:latest
    command: yarn start
    entrypoint: ./scripts/entrypoint.sh
    ports:
      - 3000:3000
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - VIRTUAL_HOST=discuzzion.docker
      - VIRTUAL_PORT=3000
